.header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.5s;
    z-index: 1;
}

.header-scrolled {
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.header__nav {
    display: flex;
    overflow: hidden;
    align-items: center;

    margin: 1rem 5rem;
}

.header__logo-container {
    flex: 1;
    align-items: center;

    flex-shrink: 0;
}

.header__logo-container img {
    width: 35%;
    height: auto;
}

.header__list {
    display: flex;
    flex: 1.8;
    justify-content: space-between;
    align-items: center;

    font-family: var(--plus-jakarta-sans);
    font-size: 1rem;

    list-style: none;
}

.header__list-masuk{
    display: flex;
    align-items: center;

    font-family: var(--plus-jakarta-sans);
    font-size: 1rem;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.header__list-masuk img {
    width: 25%;
    height: 25%;
    margin-right: 0.5rem;
}

.header__list-mobile {
    list-style: none;
    display: none;
}

.header__list-mobile button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__list-mobile button img {
    width: 75%;
    height: 75%;
}